.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 500px;
    padding: 20px;
    background-color: rgba(6, 6, 6, 0.847);
    border-radius: 15px;
}

.title {
    font-size: 2rem;
    margin-bottom: 10px;
    color: aliceblue;
}

.subtitle {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: aqua;
}

.description {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #cfcfcf;
}

.secondDescription {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #cfcfcf;
    text-align: center;
}

.thirdDescription {
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: aqua;
    text-align: center;
}

.logo {
    border-radius: 50%;
}